<div style="margin-bottom: 5px;">
    <button (click)="printState()">Print State</button>
    <button (click)="saveState()">Save State</button>
    <button (click)="restoreState()">Restore State</button>
    <button (click)="resetState()">Reset State</button>
</div>

<div style="height: calc(100% - 25px);">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
     [columnDefs]="columnDefs" 
     [defaultColDef]="defaultColDef" 
     [localeTextFunc]="localeTextFunc" 
     [rowData]="rowData"
    (gridReady)="onGridReady($event)">
</ag-grid-angular>
</div>