<div class="item-container">
    <div class="name-container">
        <h2 class="item-name">{{cartItem.item.name}}</h2>
        <h3 class="item-price">{{cartItem.item.price}}</h3>
        <div class="item-desc">{{cartItem.item.desc}}</div>
        <button (click)="getComboDetails()" *ngIf="showComboButton">See Combo</button>

        <div class="discount-items-container">
            <div *ngFor="let discountItem of discountItems;let i=index;">
                <span>{{discountItem.item.name}} at</span>
                <span class="orignal-price">{{discountItem.item.price}}</span>
                <span>{{discountItem.calucatedPrice}}</span>
                <input [(ngModel)]="discountItemsQty[i]" type="text">
            </div>
        </div>
        
    </div>
    
    <div class="image-container">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_208,h_208,c_fit/ubdbvosfml69yx55gzmd">
        <input [(ngModel)]="itemQty" type="text">
        <button (click)="updateCart(cartItem)">Update</button>
    </div>

</div>

<div class="bottom-border"></div>
