<div class="container">

  <h3>Password matching with FormArray validation<br>(Reactive Form)</h3>

  <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">

    <div formArrayName="passwords" id="passwords">

      <ng-container *ngFor="let control of controls; let i = index">
        <label [attr.for]="i">{{ labels[i] }}</label>
        <input [formControlName]="i" [id]="i" type="password">
        <div class="error1" *ngIf="control.invalid && control.touched">Password too short!</div>
      </ng-container>

      <div class="error2" *ngIf="controls[0].valid && controls[1].valid && formArray.invalid">Passwords don't match!
      </div>

    </div>

    <button type="submit" [disabled]="exampleForm.invalid">
      {{ exampleForm.valid ? 'Display values' : 'Not yet ready!' }}
    </button>

    <button type="button" (click)="resetExampleForm()">Reset</button>

  </form>

  <br>

  <div *ngIf="showFormValue">
    <p>Submitted values:</p>
    <pre>{{ exampleForm.value | json }}</pre>
  </div>

</div>