<!-- <div>
     <todo-list [todos]="todos" (addTodo)="onAdd()" [callback]="callback"></todo-list>
</div>
<div>{{message}}</div>
<button (click)="toggleFirst()">Toggle First Item</button>
<button (click)="addTodo()">Add Todo to List</button> -->
<!-- {{env | json}} -->

<div class="sood" (click)="f1()">
    <img src=xss onerror=alert(1)>
</div>

<div>String Interpolation</div>
<div>
    {{xssString}}
</div>

<div>InnerHtml</div>

<div #sumit></div>
<div [innerHTML]="xssString"></div>

<button (click)="f1()">Change Div</button>