.item-container {
    height: 100%;
    h1 {
        padding-left: 20px;
        padding-top: 18.760px;
        margin-top: 0px;
    }
}

.cart-item-container {
    height: calc(100% - 80px);
    overflow-y: scroll;
}
