<div class="item-container">
    
    <div class="name-container">
        <h2 class="item-name">{{cartItem.item.name}}</h2>
        <h3 class="item-price indian-price">{{cartItem.item.price}}</h3>
        <div class="item-desc" *ngIf="isMenuItem">{{cartItem.item.desc}}</div>
        <button (click)="getComboDetails()" *ngIf="showComboButton">See Combo</button>

        <div class="combo-items-container">
            
            <div *ngFor="let discountItem of discountItems;let i=index;">
                <ng-container  *ngTemplateOutlet="comboItemTemplate;context:{item:discountItem}"></ng-container>
                <input type="text" [(ngModel)]="discountItemsQty[i]">
            </div>
            
            <div *ngFor="let freeItem of freeItems; let i = index">
                <ng-container *ngTemplateOutlet="comboItemTemplate;context: {item: freeItem}"></ng-container>
                <input type="text" [(ngModel)]="freeItemsQty[i]">
            </div>

        </div>
        
    </div>
    
    <div class="image-container">
        <img *ngIf="isMenuItem" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_208,h_208,c_fit/ubdbvosfml69yx55gzmd">
        <input [(ngModel)]="itemQty" type="text">
        <button (click)="updateCart(cartItem)">Update</button>
    </div>

</div>


<div class="price-conatiner indian-price" *ngIf="!isMenuItem"> 
    
    {{cartItem.calucatedPrice}}
    
</div>



<div class="bottom-border"></div>

<ng-template #comboItemTemplate let-item="item">

        <span>{{item.item.name}}</span>
        <span class="orignal-price">{{item.item.price}}</span>
        <span class="indian-price">{{item.calucatedPrice}}</span>
  
</ng-template>