.box {
  height: 350px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.item-1 {
  width: 90px;
  background-color: #293527;
  border: 1px solid red;
}

.item-2 {
  height: 150px;
  width: 90px;
  background-color: black;
}
