.header-container {
    display: grid;
    grid-template-columns: 1fr;
}

.heading {
    place-self: center;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 10px;
}

.filter-input {
    width: 100%;
}

.sort-container {
    justify-self: end;
}

.games-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 70vh;
    overflow-y: scroll;
    border: 2px solid black;
    padding-top: 5px;
}
