<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="desription" content="{{htmlWebpackPlugin.options.description}}">
</head>

<body>
    <h1>This is hbs file</h1>
</body>

</html>