html, body {
  height: 100%;
}
body {
  display: grid;
  place-content: center;
}
@keyframes waving {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

/* p {
  transform: translateX(200px);
} */

.wave {
  display: flex;
  font-size: 3rem;
  /* transform-origin: 75% 80%; */
  transform-origin: 80% 75%;
  animation: waving 1000ms 1 alternate ease-in-out;
}