<section id="contacts">
  <h2>Contacts</h2>
  <hr>
  <div class="my-3">{‌{ this.contactForm.value | json }}</div>
  <form class="card bg-dark" [formGroup]="contactForm" (ngSubmit)="onAddContact()">
    <div class="card-body">
      <div class="card">
        <div class="card-body" formGroupName="name">
          <h5 class="card-title">Contact Details</h5>
          <div class="form-group">
            <label for="givenName">Given name</label>
            <input id="givenName" type="text" class="form-control" formControlName="givenName" autofocus>
          </div>
          <div class="form-group">
            <label for="familyName">Family name</label>
            <input id="familyName" type="text" class="form-control" formControlName="familyName">
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Department(s)</h5>
          <div formArrayName="departments">
            <div class="card bg-light mt-1" *ngFor="let departmentControl of getDepartments().controls; 
                 index as departmentIndex"
              [formGroup]="departmentControl">
              <div class="card-body">
                <div class="form-group">
                  <label for="departmentName">Name</label>
                  <input id="departmentName" class="form-control" formControlName="name">
                </div>
                <div class="card mt-1">
                  <div class="card-body">
                    <h6 class="card-title">Role(s)</h6>
                    <div formArrayName="roles">
                      <div class="form-group" *ngFor="let roleControl of getRoles(departmentIndex).controls"
                        [formGroup]="roleControl">
                        <input class="form-control" formControlName="name" placeholder="Role Name">
                      </div>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="onAddRole(departmentIndex)">
                      Add Role
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-secondary mt-3" (click)="onAddDepartment()">
            Add Department
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
        <button class="btn btn-primary ml-2">Add Contact</button>
      </div>
    </div>
  </form>
</section>