h2 {
    margin: 1.25em 0 0;
}
body {
    margin:0;
    font-family: basic-sans , sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    background: grey;
    min-height: 100vh;
}

header {
    padding: 2em;
    background: #fff;
    /* background: green; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    /* padding: 2px; */
    flex-grow:1;
    /* background-color: pink; */
  }
  
  .nav__list {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* margin-left: 1em; */
    background-color: lightblue;
  }
  
  .nav__list a {
    /* line-height: 3; */
    color: red;
  }
  
  .nav__list li:nth-of-type(6) {
    margin-top: auto;
  }