.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    h1 {
        padding-left: 20px;
        flex-shrink: 0;
    }
    .items-container {
        overflow-y: scroll;
    }
}

.price-container {
    flex-shrink: 0;
    margin-right:20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}