h1 {
    color: red;
}

/* #quote {
    border: solid 1px black;
    padding: 20px;
} */
h1 {
    color: red;
}

:host {
    border: solid 1px black;
    padding: 20px;
    display: block;
}



:host(.favorite) {
    border: solid 1px red;
}


:host-context(.boring #very-boring) {
    border: 1px solid #ccc;
    color: #ccc;

}

:host-context(.boring #very-boring) /deep/ h1 {
    color: blue;
}
