<div>
    <span class="button-group">
        <button (click)="irelandAndUk()">Ireland &amp; UK</button>
        <button (click)="endingStan()">Countries Ending 'stan'</button>
        <button (click)="setCountryModel()">Set Model ['Algeria','Argentina']</button>
        <button (click)="printCountryModel()">Print Country Model</button>
        <button (click)="clearCountryFilter()">Clear Country</button>
        <button (click)="destroyCountryFilter()">Destroy Country</button>
    </span>
    <br />
    <span class="button-group">
        <button (click)="ageBelow25()">Age Below 25</button> <button (click)="ageAbove30()">Age Above 30</button>
        <button (click)="ageBelow25OrAbove30()">Age Below 25 or Above 30</button>
        <button (click)="ageBetween25And30()">Age Between 25 and 30</button>
        <button (click)="clearAgeFilter()">Clear Age Filter</button>
    </span>
    <br />
    <span class="button-group">
        <button (click)="after2010()">Date after 01/01/2010</button>
        <button (click)="before2012()">Date before 01/01/2012</button>
        <button (click)="dateCombined()">Date combined</button>
        <button (click)="clearDateFilter()">Clear Date Filter</button>
    </span>
    <br />
    <span class="button-group">
        <button (click)="sportStartsWithS()">Sport starts with S</button>
        <button (click)="sportEndsWithG()">Sport ends with G</button>
        <button (click)="sportsCombined()">Sport starts with S and ends with G</button>
    </span>
</div>
<ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
    [columnDefs]="columnDefs" 
    [defaultColDef]="defaultColDef" 
    [rowData]="rowData" 
    (gridReady)="onGridReady($event)">
</ag-grid-angular>