https://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet/

1)ng-template -the ng-template directive represents an Angular template: this means that the content of this tag will contain 
    part of a template, that can be then be composed together with other templates in order to form the final component 
    template.


    Rendring ng-template -

    a)ngIf-else -
        
        <div class="lessons-list" *ngIf="lessons else loading">
            ... 
        </div>
      
        <ng-template #loading>
          <div>Loading...</div>
        </ng-template>

        And this is just one example, of a particular case with ngIf. But with ngFor and ngSwitch a similar process also occurs.

2)ng-container

    ng-container directive provides us with an element that we can attach a structural directive to a section of the page, 
        without having to create an extra element just for that.

        <ng-container *ngIf="lessons">
            <div class="lesson" *ngFor="let lesson of lessons">
                <div class="lesson-detail">
                    {{lesson | json}}
                </div>
            </div>
        </ng-container>

    There is another major use case for the ng-container directive: it can also provide a placeholder for injecting a template 
        dynamically into the page.


3)ngTemplateOutlet Directive -

    We can also take the template itself and instantiate it anywhere on the page, using the ngTemplateOutlet directive.

    <ng-template #loading>
        <div>Loading...</div>
    </ng-template>

    <ng-container *ngTemplateOutlet="loading"></ng-container>


    We could add as many ngTemplateOutlet tags to the page as we would like, and instantiate a number of different templates. 
    The value passed to this directive can be any expression that evaluates into a template reference, more on this later.


    Template Context - Inside the ng-template tag body, we have access to the same context variables that are visible in the 
        outer template.this is because all ng-template instances have access also to the same context on which they are 
        embedded.But each template can also define its own set of input variables! Actually, each template has associated a 
        context object containing all the template-specific input variables.

        <ng-template #estimateTemplate let-lessonsCounter="estimate">
            <div> Approximately {{lessonsCounter}} lessons ...</div>
        </ng-template>
        
        <ng-container 
           *ngTemplateOutlet="estimateTemplate;context:ctx">
        </ng-container>


        export class AppComponent {

            totalEstimate = 10;
            ctx = {estimate: this.totalEstimate};
          
        }


        <ng-template #estimateTemplate let-lessonsCounter="estimate">
            <div> Approximately {{lessonsCounter}} lessons ...</div>
        </ng-template>
        
        <ng-container 
           *ngTemplateOutlet="estimateTemplate; context:ctx">
        </ng-container>

        The variable lessonsCounter is visible inside the ng-template body, but not outside .the content of this variable is 
        determined by the expression that its assigned to the property let-lessonsCounter.That expression is evaluated against
        a context object, passed to ngTemplateOutlet together with the template to instantiate.the context object is passed to
        ngTemplateOutlet via the context property, that can receive any expression that evaluates to an object.

4)Template References - The same way that we can refer to the loading template using a template reference, we can also have a
 template injected directly into our component using the ViewChild decorator:

        <ng-template #defaultTabButtons>
            <button class="tab-button" (click)="login()">
            {{loginText}}
            </button>
            <button class="tab-button" (click)="signUp()">
            {{signUpText}}
            </button>
        </ng-template>


        @ViewChild('defaultTabButtons') private defaultTabButtonsTpl: TemplateRef<any>;


        This means that templates are accessible also at the level of the component class, and we can do things such as for 
            example pass them to child components!.An example of why we would want to do that is to create a more customizable
            component, where can pass to it not only a configuration parameter or configuration object: we can also pass a 
            template as an input parameter.

        Configurable Components with Template Partial @Inputs -

        See Blog.

        