ul {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 0;
  list-style: none;
  background-color: #e8e8e9;
}

li {
  flex: 0 0 auto;
    background-color: #8cacea;
   margin: 8px;
   color: #fff;
   padding: 4px;
}