.container {
    display: flex; /*or inline-flex*/
    list-style: none;
    /* width:500px; */
    background: red;
    border: 1px solid black;
  }
  
.item {
    width: 500px;
    height: 100px;
    background-color: #8cacea;
    margin: 8px;
  }

.container2 {
  width: 200px;
  height: 200px;
  background: blue;
}