h1,h2,p {
    margin-top: 0;
}

.main-container {
    width: 500px;
    margin: 0 auto;
}

.header-container {
    margin: 45px 0;
}

.primary-header {
    color: #2E7AD3;
    text-align: center;
}

.content-container {
    background-color: #F1F1F1;
    padding: 25px;
}

.secondary-header {
    color: #104C90;
}

.p1 {
    margin-top: 25px;
}

.p2 {
    margin-top: 9px;
}

a:link {
    color: #FF8000;
    font-weight: bold;
}

a:link {
  color: #FF0000;
}

a:hover, 
a:focus {
    color: #104c90;
}