body {
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #2E354F;
}

/* 
Typo graphy
*/
h1,h2,strong {
    margin-top: 0;
    /* 
    *By default h tags uses 800 font-weight, but here we only import 900
    so it will use 900 by defailt. but if someone has font-file with 800 
    weight in cache it will use that. to avoid that case
    */
    font-weight: 900;
}
h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #EF5839;
}

a {
    color: #EF5839;
}

a:hover, a:focus {
    color: #d4b44c;
}

/* 
Buttons
*/
.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #EF5839;
    color: #FFF;
}

.btn-accent:hover , .btn-accent:focus {
    color: #2e354f;
    background: #d4b44c;
}

.btn-white {
    color: #2e354f;
    background: #FFF;
}

.btn-white:hover, .btn-white:focus {
      color: #FFF;
    background: #999;
}

/* 
Layout Stuff
*/
header {
    background: #2e354f;
    padding: 45px 0;
    color: #FFF;
}

section {
    padding: 45px 0;;
}

.contianer {
    width: 620px;
    margin: 0 auto;
}
/* .heading {
    margin-bottom: 0;
} */

/* .section-one-heading {
    margin-bottom: 10px;  
} */

.section-two {
    background: #2E354F;
    padding: 10px 20px;
     color: #FFF;
}