<!-- 1 -->
<!-- <app-simple-filter-example></app-simple-filter-example> -->

<!-- 2 -->
<!-- <app-filtering-buttons-and-events></app-filtering-buttons-and-events> -->

<!-- 3 -->
<!-- <app-provided-simple></app-provided-simple> -->

<!-- 4 -->
<!-- <app-custom-filters></app-custom-filters> -->

<!-- 5 -->
<!-- <app-blank-cells></app-blank-cells> -->

<!-- 6 -->
<!-- <app-advanced-text-filter></app-advanced-text-filter> -->

<!-- 7 -->
<!-- <app-filter-api></app-filter-api> -->

<!-- 8 -->
<app-floating-filters></app-floating-filters>