<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vehicle" class="com.example.beans.Vehicle">
        <property name="name" value="Honda" />
    </bean>
<!--this is other options that i can mention-->
<!--    <bean id="vehicle" class="com.example.beans.Vehicle" primary="true" destroy-method="getName" init-method="getName">-->
<!--        <property name="name" value="Honda" />-->
<!--    </bean>-->
</beans>