body {
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav,
main {
  padding: 16px;
}

img {
  display: block;
  width: 300px;
  margin: 16px 0 64px;
}

.wrapper {
  display: flex;
}

nav {
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}
