<!-- 1. *ngIf directive with a single condition -->

    <div *ngIf="condition">
        This DIV is displayed when "condition" is true
    </div>

<!-- 2. [ngIf] with ng-template -->

    <ng-template [ngIf]="condition">
        <div>This DIV is displayed when "condition" is true</div>
    </ng-template>

    syntaxes #1 and #2 are 100% equivalent from an Angular compiler perspective.

    When to use that syntax? If we want to conditionally render two sibling elements that don’t have a single 
        common parent in the DOM. For instance:

    <ul>
    <li>First item</li>
    <ng-template [ngIf]="showItemsTwoAndThree">
        <li>Second item</li>
        <li>Third item</li>
    </ng-template>
    </ul>

<!--3. *ngIf with an else case -->

    <div *ngIf="condition; else elseBlock">
        Content to render when condition is true.
    </div> 
    
    <ng-template #elseBlock>
        <div>Content to render when condition is false.</div>
    </ng-template>

<!--4. *ngIf with both then and else cases -->

    <div *ngIf="condition; then thenBlock else elseBlock"></div>
    
    <ng-template #thenBlock>
        Content to render when condition is true.
    </ng-template>
    
    <ng-template #elseBlock>
        Content to render when condition is false.
    </ng-template>

    Note that in the above example, the parent div is actually not rendered.

<!-- 5. Storing a conditional result in a variable -->

    <div *ngIf="userObservable$ | async as user; else loading">
        Hello {{user.last}}, {{user.first}}     
    </div>     
    
    <ng-template #loading>
        Loading user info...
    </ng-template>