.container {
  display: flex;
  background: red;
  margin-top: 500px;
}

.items {
  /* flex-grow: 1; */
}
/* 
  
  equal size -
  
  width of item - 271
  
  item1 has flex:1 (-271)
    Item1 and item 2 has minimum width. with oncrease in width item 2 width increases while item1 width
      remains constant. This continues till item2 width is 2x of item1. now with further increase in width
      both size increase.
  
  item2 has flex: 1, (271)
    item1 and 2 and minimum size on increasing the width item1 keep on increasing and item2
      remains same until item1 is 2x of item2. then with further increase both item1 and item2 increase
      and difference remians conattant at 271 (which is minimum content)
  
  when we set flex:1, flex-basis is 0. but since item cannot have width less than minimm size, it takes
    minimum width.which is 270. this is given from flex-grow. on other side second item wll only gorw when
    it reaches it hypothetical size.i.e 270px. 
  
    now one items has grown by 270px and other has grown by 0. so item which has not grown will continue
    till 270px and other will be constant.after 270 px further growth is divided equaly amoug them
  
  */
.item1 {
  background-color: yellow;
  /* flex: 1; */
}

.item2 {
  background-color: green;
  /* flex: 1; */
}
